/* ------------------------------------------
  Reset ♥
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
---------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display:block;
  }
body { line-height:1; }
ol, ul { list-style:none;  }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing:0; }
/* remember to define focus styles. Hee Haw */
:focus { outline:0; }

/*-----------------------------------
  Typography
-------------------------------------*/
body {
  background:#1BBAEC;
  font:bold 18px/24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color:#fff;
  margin:0; padding:0;
  overflow-x:hidden;
  -webkit-font-smoothing:antialiased;
  }

a {
  color:#8cdcf5;
  text-decoration:none;
  -webkit-transition:color 100ms linear;
     -moz-transition:color 100ms linear;
       -o-transition:color 100ms linear;
          transition:color 100ms linear;
  }
  a:hover {
    color:#fff;
    }

.fixed-700 {
  display:block;
  width:700px;
  margin:70px auto;
  }
.intro {
  display:block;
  padding:0 10px;
  margin:0 0 40px;
  font-size:27px;
  line-height:38px;
  color:#117999;
  }

  .examples li {
    background:#10A1CF;
    text-align:center;
    display:inline-block;
    width:210px;
    height:20px;
    padding:30px 0 40px;
    margin:0 10px;
    position:relative;
    cursor:pointer;
    -webkit-border-radius:10px;
            border-radius:10px;
    }

.popup {
  display:none;
  border:1px solid #ccc;
  background:#000;
  z-index:1000;
  position:absolute;
  left:50%;
  bottom:110px;
  width:170px;
  margin-left:-105px;
  border:none;
  padding:20px;
  font-size:22px;
  -webkit-animation-duration:500ms;
     -moz-animation-duration:500ms;
       -o-animation-duration:500ms;
          animation-duration:500ms;
  -webkit-animation-fill-mode:both;
     -moz-animation-fill-mode:both;
       -o-animation-fill-mode:both;
          animation-fill-mode:both;
  -webkit-box-shadow:0 4px 8px rgba(0,0,0,0.25);
          box-shadow:0 4px 8px rgba(0,0,0,0.25);
  -webkit-border-radius:4px;
          border-radius:4px;
  }
  .popup:after {
    top:100%;
    border:solid transparent;
    content:'';
    height:0;
    width:0;
    left:50%;
    position:absolute;
    pointer-events:none;
    border-top-color:#000;
    border-width:14px;
    margin-left:-14px;
    }

.on .popup {
  display:block;
  -webkit-animation-name:fadeInUp;
	   -moz-animation-name:fadeInUp;
	     -o-animation-name:fadeInUp;
	        animation-name:fadeInUp;
  }
.off .popup {
  display:block;
  -webkit-animation-name:fadeInUpOut;
	   -moz-animation-name:fadeInUpOut;
	     -o-animation-name:fadeInUpOut;
	        animation-name:fadeInUpOut;
  }

/*On Fade in*/
@-webkit-keyframes fadeInUp {
	0%    { opacity:0; -webkit-transform:translateY(40px); }
	100%  { opacity:1; -webkit-transform:translateY(0); }
  }
@-moz-keyframes fadeInUp {
  0%    { opacity:0; -moz-transform:translateY(40px); }
	100%  { opacity:1; -moz-transform:translateY(0); }
  }
@-o-keyframes fadeInUp {
	0%    { opacity:0; -o-transform:translateY(40px); }
	100%  { opacity:1; -o-transform:translateY(0); }
  }
@keyframes fadeInUp {
	0%    { opacity:0; transform:translateY(40px); }
	100%  { opacity:1; transform:translateY(0); }
  }

/*On Fade out*/
@-webkit-keyframes fadeInUpOut {
	0%    { opacity:1; -webkit-transform:translateY(0); }
	50%   { opacity:0.75; -webkit-transform:translateY(-35px); }
	100%  { opacity:0; -webkit-transform:translateY(-35px); }
  }
@-moz-keyframes fadeInUpOut {
  0%    { opacity:1; -moz-transform:translateY(0); }
	50%   { opacity:0.75; -moz-transform:translateY(-35px); }
	100%  { opacity:0; -moz-transform:translateY(-35px); }
  }
@-o-keyframes fadeInUpOut {
	0%    { opacity:1; -o-transform:translateY(0); }
	50%   { opacity:0.75; -o-transform:translateY(-35px); }
	100%  { opacity:0; -o-transform:translateY(-35px); }
  }
@keyframes fadeInUpOut {
	0%    { opacity:1; transform:translateY(0); }
	50%   { opacity:0.75; transform:translateY(-35px); }
	100%  { opacity:0; transform:translateY(-35px); }
  }

/*-----------------------------------
  Code
-------------------------------------*/
pre,
code {
  font-family:Consolas, Menlo, 'Liberation Mono', Courier, monospace;
  font-weight:normal;
  word-wrap:break-word;
  color:#333;
  }
pre {
  font-size:13px;
  line-height:1.25em;
  background:#121212;
  padding:10px 15px;
  margin:10px 0;
  overflow: auto;
  -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.30);
          box-shadow:0 1px 3px rgba(0, 0, 0, 0.30);
  }

@media screen {
  .com { color: #999988; }  /* a comment */
  .lit, .typ { color: #445588; } /* literal, type */
  .tag { color: navy; } /* tag */
  .atv, str { color: #dd1144; } /* attribute, string */
  .dec, .clo, .opn, .pun, .kwd { color: #333333; } /* a declaration, close bracket, open bracket, punctuation, keyword */
  .var, .atn { color: teal; } /* variable, markup attribute */
  .fun { color: #990000; } /* functione */
  }
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pun, .opn, .clo  { color: #440; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
  }
/* Style */
pre.prettyprint {
  background: white;
  font-family: Menlo, Monaco, Consolas, monospace;
  font-size: 12px;
  line-height: 1.5;
  padding: 12px 10px;
  }

/*-----------------------------------
  Lil Helpers
-------------------------------------*/
/*Markup free clearing
Details: http: //perishablepress.com/press/2009/12/06/new-clearfix-hack*/
.clearfix:after {
  content:'';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
  }
* html .clearfix { height:1%; }
*:first-child + html .clearfix { min-height:1%; }
